h1 {
  color: #666666;
  font-size: 40pt;
  font-weight: 100;
  text-transform: uppercase;
}

div.section1 {
  padding-left: 0%;
  padding-right: 20%;
  padding-top: 3%;
  background-color: #FFFFFF;
  font-family: 'helvetica';
  text-align: right;
  color: #666666;
}


div.section2 {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 8%;
  padding-bottom: 0%;
  background-color: #FFFFFF;
  font-family: 'helvetica';
  text-align: center;
  color: #666666;
}



hr {
  width: 50%;
  border: 0;
  border-top: solid #ffd800;
}