h1 {
  color: #666666;
  font-size: 40pt;
  font-weight: 100;
  text-transform: uppercase;
}



body {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10%;
  background-color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #666666;
  border-top: 5px solid #000;
  margin: 0;
}



hr {
  width: 50%;
  border: 0;
  border-top: solid #ffd800;
}